/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2196F3;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 28px; /* Smaller header size */
}

/* Home Page Styles */
.home-container {
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.home-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.centered {
    text-align: center;
}

.home-image {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 8px;
}

.intro-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.home-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.home-link-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.home-link-item:hover {
    background-color: #f1f1f1;
}

.home-link-item a {
    text-decoration: none;
    color: #2196F3;
    font-size: 18px;
    font-weight: bold;
}

.home-link-item p {
    font-size: 14px;
    color: #555;
}

/* Form Styles */
.form-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-container input,
.form-container select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    padding: 10px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #1976D2;
}

/* FAQ & About & Catalogue Styles */
.faq-container, .about-container, .catalogue-container {
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.faq-item, .service-item {
    margin-bottom: 20px;
}

h3 {
    color: #2196F3;
}
